body{
	background: rgb(0,213,207);
	background: linear-gradient(90deg, rgba(0,213,207,0.5) 18%, rgba(215,215,252,0.8071603641456583) 50%, rgba(0,213,207,0.5) 82%);
}


#chat-input{
  	margin: auto;
  	display: block;
  	border-left: black;
	border-radius: 20px;
	width: 50%;
	height:30px;
}

#chat{
	background-color:rgba(256,256,256,0.6);
	margin: auto;
  	width: 50%;
  	height: 800px;
}
.massage-window{
	background-color: #01b41f;
	border-radius: 10px;
	width: 25%;
}
.scroll{
	overflow-y: scroll;
	scrollbar-width:none;

}
